{
	# see https://caddyserver.com/docs/json/apps/pocketbase
	pocketbase {
		listen 8090 # port pocketbase will listen to
		data_dir /data/caddy/pb_data # PocketBase data directory
		# origins # all origins allowed when empty
	}
	order pocketbase before file_server
}

{$FQDN} {
	pocketbase
}
