{
	# see https://caddyserver.com/docs/json/apps/pocketbase
	pocketbase {
		listen 8090 # port pocketbase will listen to
		data_dir /pb # data directory
		# origins # all origins allowed when empty
	}
	order pocketbase before file_server
}

{$FQDN} {
	pocketbase

	handle /test {
		respond "Hello, World!"
	}
}
